---
// import { Logo } from '~/components/logo'
import { User } from '~/components/user'

const pages = [
  {
    url: '/',
    title: 'Home',
  },
  {
    url: '/playground',
    title: 'Playground',
  },
]

const user = Astro.locals.user
---

<header>
  <nav class="container absolute left-0 right-0 top-0 flex items-center justify-between py-4 gap-4">
    <a href="/">Logo</a>

    <ul class="flex-1 flex items-center justify-center gap-4 text-sm lg:gap-6">
      {
        pages.map(({ url, title }) => (
          <a class="transition-colors hover:text-foreground/80 text-foreground/60 hidden sm:flex space-x-1" href={url}>
            {title}
          </a>
        ))
      }
    </ul>

    <div class="flex items-center space-x-2">
      <User userAstro={user} client:only="react" />
    </div>
  </nav>
</header>
