---
import Layout from '~/layouts/Layout.astro'
---

<script>
  import { client } from '~/lib/client'

  const response = await client.api.post.$get()
  const json = await response.json()

  console.log(json)
</script>

<Layout title="Welcome to Astro.">
  <a href="/playground">Playground</a>
</Layout>
