---
import { cn } from '@xystack/ui'
import '@xystack/ui/base.css'
import { Toaster } from '@xystack/ui/sonner'
import Header from '~/components/header.astro'

interface Props {
  title: string
  hideHeader?: boolean
}

const { title, hideHeader = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {!hideHeader && <Header />}
    {!hideHeader && <div class="h-[56px]" />}
    <main class={cn('relative', !hideHeader ? 'min-h-[calc(100vh-56px)]' : 'min-h-screen')}>
      <slot />
      <Toaster client:only="react" />
    </main>
  </body>
</html>
